body {
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/* Header Style */

header {
    background-color: #7F292A;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #FFFFFF;
}
header p {
    margin: 0;
    color: #FFFFFF;
    letter-spacing: .5px;
}

/* Nav Style */

nav {
    background-color: #012534;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #FFFAFA;
    font-weight: 700;
    display: block;
    padding: .8rem 2rem;
}
nav li.active a {
    background-color: #FFFAFA;
    color: #012534;
}
nav a:hover {
    color: #D17077;
}

/* Main Style */

main {
    padding: 1rem 2vw;
}
main h1 {
    color: #7F292A;
}
main h2 {
    color: #024663;
    margin-bottom: .2rem;
}
main h3 {
    color: #024663;
    margin-bottom: .2rem;
}
main p {
    margin-bottom: .2rem;
}
main ol {
    padding: .5rem 3vw;
    background-color: #FFF5FA;
}
main dl {
    background-color: #FFF5FA;
    padding: .5rem;
}
main dl dt {
    color: #7F292A;
    font-weight: 700;
}
main dl dd {
    font-size: .9rem;
}
main ul {
    list-style-type: circle;
    padding: .5rem 3vw;
    background-color: #FFF5FA;
}
main address {
    font-style: normal;
    background-color: #FFF5FA;
    padding: .5rem;
    width: 14rem;
    border: 1px solid #D17077;
    border-radius: 5px;
}
main a {
    color: #024663;
}
main a:hover {
    color: #D17077;
}

/* Footer Style*/

footer {
    background-color: #012534;
    text-align: center;
    color: #FFFFFF;
    padding: 1rem 0;
    font-size: .9rem;
}
footer a {
    color: #FFFFFF;
}